*{
    padding:0;
    margin: 0px;
    box-sizing: border-box;
}

a:any-link{
    text-decoration: none;
    cursor:pointer;
}

a{
    cursor: pointer;
}

body{
    font: normal 10pt Arial,Helvetica,sans-serif;
    background-color: #fafafa;
}

.header{
    width: 1170px;
    height: 60px;
    background: linear-gradient( to top, #052f1f, #0d533c);
    border-bottom: 1px solid #fff;
    margin-right:auto;
    margin-left: auto;
}

.logo{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    float: left;
}


.main-logo{
    display: block;
    width: 156px;
    height:23px;
    margin: 17px;
    background: url("logo-lursoft-main.png") no-repeat;
    color:transparent;
    float:left;
}

ul{
    list-style-type: none;
}
 a:any-link{
     cursor: pointer;
 }


.menu{
    margin: 0 0 0 15px;
    width: 332px;
    height: 100%;
    float: left;
}

.menu-li{
    width: 110px;
    height:59.2px;
    float: left;
}

.menu li a{
    float: left;
    color: #b6b899;
    font-size: 0.85em;
    text-decoration: none;
    padding: 0 4px;
    width: 110px;
    line-height: 59px;
    text-align: center;
    border-left: 1px solid #062d1f;
    border-right: 1px solid #225643;
}

.menu li a:hover{
    background-color: #052f1f;
}

ul{
    padding-left: 0;
}

.languages{
    margin: 0 0 0 15px;
    width: 84px;
    height: 100%;
    float: left;
}

.language-li{
    float: left;
    width: 23px;
    height: 59.2px;

}

.languages li a{
    float: left;
    width: 23px;
    height: 20px;
    color: #b6b899;
    font-size: 0.75em;
    line-height: 1.99em;
    text-decoration: none;
    margin: 20px 5px 0 0;
    text-align: center;
}

.active{
    background-color: #072b1e;
    color: #b6b899;
    box-shadow: 0 1px 0.1em #2c5a47;
    font-weight: bold;
    border-radius: 0.5em;
    text-align: center;
}

.log-in-container{
    float: left;
    width: 519px;
}

.log-in{
    width: 120.2px;
    float: right;
    margin-top:16px;

}

.log-in-button{
    float:right;
    height: 25px;
    width: 89px;
    padding: 0 10px;
    border-radius: 0.5em;
    background: linear-gradient(#b6b899, #92997b);
    border: 1px solid #a1a992;
    font-size: .875em;
    line-height: 1.65em;
    font-weight: bold;
    text-shadow: 0 1px 0.1em #b6b899;

}

.log-in a{
    text-decoration: none;
    color: #052f1f;
}

.userpic{
    display: block;
    float:left;
}

.header-hr {
    background-color: #b6b899;
    height: 5px;
    margin-left: auto;
    margin-right: auto;
    width: 1170px;
}

.main{
    background-color: white;
    width:1170px;
    margin-right: auto;
    margin-left: auto;
    height: 3000px;
}

.search-container{
    width: 100%;
    height: 120px;
    padding: 20px 15px 10px 15px;
    border-bottom: 1px solid #efefeb;
    position: relative;
}

.search{
    width: 100%;
    height: 46px;
    display:table;
    border-collapse: collapse;
    margin-bottom: 15px;
}

.search-input{
    padding: 10px 16px;
    font-size: 18px;
    width: 1025px;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-input:focus{
    outline: none;
}

.search-button{
    width: 112px;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0 5px 5px 0;
    padding: 10px 16px;
    font-size: 18px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e0e0e0 100%);
    text-shadow: 0 1px 0 #fff;
}

.search-button:hover{
    background-image: linear-gradient(rgba(224, 224, 224, 0.07) 100%, rgba(224, 224, 224, 0.8) 100%);
    border-color: #adadad;
}

.container-2{
    width: 100%;
    margin-bottom: 15px;
}


.checkbox{
    float:left;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    width: 140px;
    position:relative;
}

.form-check-input{

    position: relative;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.15), 0 1px 1px rgba(0,0,0,.075);
    border-radius: 4px;
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
}

.form-check-label{
    cursor: pointer;
    line-height: 17px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 13px;

}


.container-more{
    float:right;
    width: 100px;
}


.button-more{
    width: 91px;
    height: 30px;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    background-color: #e0e0dc;
    color: #636363;
    padding: 8px 16px;
    cursor: pointer;
    overflow: visible;
    position: absolute;
    bottom: 13px;
    right: 17px;

}

.three-points{
    float:left;
 }

.more{
    float:right;
    font-size: 12px;
    text-align: right;
}

.retrieved-search{
    float:right;
    width: 310px;
}

.retrieved-search a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    margin-top: 4px;
}

.container-more-retrieved{
    float:right;

}

.container-3{
    width: 1140px;
    height: 32.8px;
    line-height: 22px;
    padding:5px 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
    border-bottom: 1px solid #b6b899;
}

.container-3-ul li{
    float: left;
    vertical-align: center;
    margin-right: 3px;
}

.container-3 a{
    color: #4b7979;
    font-size: 12px;
}

.tools{
    margin-right: 293px;
    float: right;
}

.print, .email, .pdf{
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    cursor: pointer;
    display: inline-block;
}

/*TOOLTIP*/

[data-title] {
    position: relative;
}

[data-title]:after {
    content: attr(data-title);
    background-color: black;
    color: white;
    border-radius: 0.5em;
    font: normal 10pt Arial,Helvetica,sans-serif;
    font-size: 12px;
    padding: 4px 8px;
    white-space: nowrap;

    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index:1;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
}

[data-title]:hover:after {
    opacity: 0.7;
    visibility: visible;
}

[data-title]:before{
    content: "";
    position: absolute;
    top: 55%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid black;
    border-color: transparent transparent black transparent;

    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-out;
}

[data-title]:hover:before{
    opacity: 0.7;
    visibility: visible;
}





.content-container{
    width: 1140px;
    min-height: 620px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    height: 40.4px;
}

.content-left{
    width: 877.5px;
    margin-bottom: 20px;
}

.heading-and-tools-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted #ccc;
    padding: 5px 0;
    align-items: center;
    height: 35px;
    margin-bottom: 15px;
}

.heading-container{
    font-size: 24px;
    font-weight: lighter;
}

.heading-tools-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.tools-button{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #527a7a;
    text-shadow: 0 1px 0 #174b33;
    border: none;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height:20px;
    margin: 0 2px;
    height: 29px;
}

.tools-button a{
    text-decoration: none;
    color: #fff;
    cursor: pointer;
    background-color: #527a7a;
    text-shadow: 0 1px 0 #174b33;
    border: none;
    padding: 5px 12px;
    font-size: 12px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    line-height:20px;
    margin: 0 2px;
    height: 29px;
}

.tools-icon-h1{
    margin: 2px 0 0 1px;
    align-items: center;
}

.tools-button:hover, .tools-button:active{
    background-color: #174b33;
}

.tools-button a:visited{
    background-color: #174b33;
}

.text{
    margin-bottom: 10px;
    font-size: 12px;
}
.company-card-container{
    float: left;
    clear: both;
    width: 847.5px;
    height: 158px;
}

.extended-analysis{
    float: right;
    background-color: #0d513a;
    color: white;
    font-size: 12px;
    border-radius: 3px;
    height:29.6px;
    line-height: 18px;
    weight: 230.81px;
    padding: 5px 10px;
    border: 1px solid black;

}

.company-card{
    width: 331.6px;
    height: 151.6px;
    border: 1px solid black;
    font-size: 12px;
}

.company-card ul li{
    margin: 2px 5px;
    clear: both;
    float: left;
    width: 320px;
}

.company-logo{
    float: left;
    margin: 5px 0 0 5px;
    height: 45px;

}

.company-address{
    float: right;
    width: 200px;
    text-align: right;
}

.company-address a{
    color: black;
}
.card-contact-web{
    float: left;
    display: block;
    width: 160px;
    height: 28px;
}

.card-contact-web a, .card-phone a, .add-data-right a{
    color: #174B33;
    text-decoration: underline;
}

.card-phone{
    float: right;
    padding-left: 20px;
}

.phone-icon{
    width: 16px;
    height: 16px;
    position: relative;
    top: 5px;
    margin-right: 3px;
}

.company-card a:hover{
    text-decoration: none;
}

.commercial-activity{
    margin-left: auto;
    margin-top: 3px;
    text-align: center;
    height: 35px;
}

.add-data{
    margin: 5px;
}

.add-data-left{
    float: left;
    position: relative;
    bottom: 10px;
    left: 15px;
    color: #800000;
}

.add-data-right{
    float: right;
}




.content-right{
    width: 277.5px;
    height: 1284px;
    font-size: 12px;
    padding-left: 15px;
}
.content-right li{
    cursor: pointer;
    line-height: 20px;
}

.content-right-title{
    font-weight: bolder;
    background: #e1e1e1;
    width: 269.5px;
    height: 24px;
    margin: 0 0 1px 8px;
    padding-left: 8px;


}

.strong{
    display: inline-block;
    font-weight: bolder;
    color: #a00;
}



